flows.json
[{"id":"6f386d264329a936","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"861fa1e9efaeb923","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"fec30473c59388b2","type":"mqtt-broker","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"e7b37f108e0ab44a","type":"telegram bot","botname":"CP01DeziGugubot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"927d38303a1f546a","type":"serial-port","serialport":"COM3","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"8b52de5c031449df","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"05e18e155d7235b5","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"ef3129877f5bd6f2","type":"ui_group","name":"Default","tab":"05e18e155d7235b5","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"908dc461ec0e4b32","type":"mqtt out","z":"6f386d264329a936","name":"","topic":"tds/tag","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"fec30473c59388b2","x":470,"y":140,"wires":[]},{"id":"7d1dc33ba1a2eba3","type":"mqtt in","z":"861fa1e9efaeb923","name":"","topic":"tds/tag","qos":"2","datatype":"auto","broker":"fec30473c59388b2","nl":false,"rap":true,"rh":0,"x":190,"y":160,"wires":[["f90cf6c36d6bffe4","bf9c8b5f.963498"]]},{"id":"f90cf6c36d6bffe4","type":"json","z":"861fa1e9efaeb923","name":"","property":"payload","action":"","pretty":false,"x":350,"y":160,"wires":[["fc96e02b23ec4d03"]]},{"id":"fc96e02b23ec4d03","type":"change","z":"861fa1e9efaeb923","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.ID","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":160,"wires":[["fe0c6cc76d4916d1"]]},{"id":"d8c57c6286b154fc","type":"serial in","z":"6f386d264329a936","name":"","serial":"927d38303a1f546a","x":130,"y":140,"wires":[["908dc461ec0e4b32"]]},{"id":"19301d7979220b65","type":"serial out","z":"6f386d264329a936","name":"","serial":"927d38303a1f546a","x":350,"y":240,"wires":[]},{"id":"a6c73f018918eb79","type":"ui_button","z":"6f386d264329a936","name":"","group":"ef3129877f5bd6f2","order":1,"width":0,"height":0,"passthru":false,"label":"Abre","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"motor\":180}","payloadType":"json","topic":"topic","topicType":"msg","x":130,"y":220,"wires":[["19301d7979220b65"]]},{"id":"6c5d2b794929c27f","type":"ui_button","z":"6f386d264329a936","name":"","group":"ef3129877f5bd6f2","order":2,"width":0,"height":0,"passthru":false,"label":"Fecha","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"motor\":0}","payloadType":"json","topic":"topic","topicType":"msg","x":130,"y":280,"wires":[["19301d7979220b65"]]},{"id":"fe0c6cc76d4916d1","type":"ui_text","z":"861fa1e9efaeb923","group":"ef3129877f5bd6f2","order":0,"width":0,"height":0,"name":"","label":"Cartao:","format":"{{msg.payload}}","layout":"row-spread","className":"","x":740,"y":160,"wires":[]},{"id":"33e9aabd.49dcd6","type":"telegram sender","z":"861fa1e9efaeb923","name":"","bot":"e7b37f108e0ab44a","haserroroutput":false,"outputs":1,"x":570,"y":220,"wires":[[]]},{"id":"bf9c8b5f.963498","type":"function","z":"861fa1e9efaeb923","name":"","func":"msg.payload = {}\nmsg.payload.chatId = 1781780090\nmsg.payload.type = 'message'\nmsg.payload.content = 'Cartão aprovado!'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":220,"wires":[["33e9aabd.49dcd6","a2660eb9.1077e"]]},{"id":"a2660eb9.1077e","type":"e-mail","z":"861fa1e9efaeb923","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"seuemail@gmail.com","dname":"","x":580,"y":280,"wires":[]}]